// Layout
.site-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

.site-header {
    grid-area: header;

    &__brand {}

    &__nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            display: block;

            &.is-current {
                > a {
                    font-weight: 700;
                }
            }

            &.is-current-ancestor {
                > a {
                    font-weight: 700;
                }

                .is-current {
                    color: red;
                }
            }
        }

        a {
            display: block;
            color: inherit;
        }

        > ul {
            @include media-breakpoint-up(md) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            > li {
                @include media-breakpoint-up(md) {
                    margin-right: 1rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.site-main {
    grid-area: main;
}

.site-footer {
    grid-area: footer;
}